extends layout

block content
  main.h-100
    div.row.row-no-gutters.h-100
      div.col-xs-12.col-md-4.text-white.sidebar
        p SPVGA
        p Sistema Politécnico para Vinculación de Grupos Academicos
        img(src="/images/image.png")
      div.col-xs-12.col-md-8.formulario
        form
          p Nombre completo:
          input#name(datatype=text minlength="10" required maxlength="40" size="10" value="")
          p Telefono:
          input#numberP(datatype=text minlength="10" required maxlength="12" size="10" value="")
          p Correo:
          input#email(datatype=text minlength="10" required maxlength="60" size="10" value="")
