extends layout

block content
  main.h-100
    //a(href="#modal") Popup
    .row.row-no-gutters.h-100
      .col-xs-12.col-md-4.text-white.sidebar
        span
          p.text-center.title SPVGA
          p.text-center.subtitle Sistema Politécnico para Vinculación de Grupos Académicos
          img.img1(src="/img/image.png")
      .col-xs-12.col-md-8.formulario.h-form

        #btn-bot.align-top.my-3.mx-4
          a(href="https://wa.me/525516793456" target="_blank")
            i.bi.bi-robot.support.text-dark

        form.position_top
            .row.align-items-center.m-5
              .col-xs-12.col-md-6
                .form-floating.mb-3
                  // ([a-zA-Zà-ÿÀ-Ÿ]]+ ){2}([a-zA-Zà-ÿÀ-Ÿ]+[ ]?){1,5}
                  input.form-control(type="text" name="name" placeholder=" " required pattern="([a-zA-Zà-ÿÀ-Ÿ]+ ){2}([a-zA-Zà-ÿÀ-Ÿ]+[ ]?){1,5}" title="Incluye tu nombre completo empezando por tu apellido paterno")
                  label Nombre Completo
                .form-floating.mb-3
                  input.form-control(type="tel" name="phone" placeholder=" " required pattern="[0-9]{10}" title="Incluye 10 digitos en el número telefónico")
                  label Teléfono
                .form-floating
                  input.form-control(type="email" name="email" placeholder=" ")
                  label Correo
              .col-xs-12.col-md-6
                div
                  label.form-label Comprobante
                  input.form-control(type="file" name="inscription" accept=".pdf" disabled)
                input#btnSubmit(type="submit" name="btnSubmit" hidden)
              .form-floating
            //.row.align-items-center.m-5
              button.btn.btn-lg.btn-primary.w-100.mx-0.mb-2(type="submit") Enviar
        .text-center.align-bottom.position-btn-down.bottom-0(style="width:inherit")
          p.text-center.m-0 ¿Qué es esto?
          a(href="#about")
            i.bi.bi-chevron-down.text-dark
      #about.ajust.bg-primary.m-0.w-100

        div.row.mb-3.h-100.justify-content-around
          div.col-md-8.col-md-8
            p.text-white.text2 Una aplicacion web, que permite a los estudiantes del IPN, encontrar y registrarse en grupos de Whatsapp, que corresponden a la tira de materias registradas en su comporbante de inscripción del semestre encurso, con el fin de facilitar la comunicación entre los estudiantes a lo largo del periodo escolar.
          div.col-6.col-md-4.col-6.col-md-4.intam
            img.img2.w-100.h-100(src="/img/img2.png")
        .col-12.social.d2
          .d-flex.justify-content-around.m-2
            .p2.text-center
              a.text-decoration-none(href="https://www.ipn.mx/" target="_blank")
                img.icon_size(src="/img/ipn.png")
                p.icons.text-black IPN
            .p2.text-center
              a.text-decoration-none(href="https://www.facebook.com/Gray-Matter-106397525142671" target="_blank")
                img.icon_size(src="/img/GM.png")
                p.icons.text-black Gray Matter