extends layout

block content
  main.h-100
    .row.row-no-gutters.h-100
      .col-xs-12.col-md-4.text-white.sidebar
        span
          p.title SPVGA
          p.subtitle Sistema Politécnico para Vinculación de Grupos Academicos
          img.img1(src="/img/image.png")
      .col-xs-12.col-md-8.formulario.h-form

        #btn-bot.align-top.my-3.mx-4
          a(href="https://wa.me/525516793456" target="_blank")
            i.bi.bi-robot.support.text-dark

        form.position_top
            .row.align-items-center.m-5
              .col-xs-12.col-md-6
                .form-floating.mb-3
                  //[a-zA-Z]+ [a-zA-Z]+ [a-zA-Z]+[ ]?[a-zA-Z]+[ ]?[a-zA-Z]+[ ]?[a-zA-Z]+[ ]?[a-zA-Z]+[ ]?
                  input.form-control(type="text" name="name" placeholder="" required pattern="([a-zA-Z]+ ){2}([a-zA-Z]+[ ]?){1,5}" title="Incluye tu nombre completo empezando por tu apellido paterno sin tíldes")
                  label Nombre Completo
                .form-floating.mb-3
                  input.form-control(type="tel" name="phone" placeholder="" required pattern="[0-9]{10}" title="Incluye 10 digitos en el número telefónico")
                  label Teléfono
                .form-floating
                  input.form-control(type="email" name="email" placeholder="")
                  label Correo
              .col-xs-12.col-md-6
                div
                  label.form-label Comprobante
                  input.form-control(type="file" name="inscription" accept=".pdf" disabled)
                input#btnSubmit(type="submit" name="btnSubmit" hidden)
              .form-floating
            //.row.align-items-center.m-5
              button.btn.btn-lg.btn-primary.w-100.mx-0.mb-2(type="submit") Enviar
        .text-center.align-bottom.position-btn-down.bottom-0(style="width:inherit")
          p.m-0 ¿Qué es esto?
          a(href="#about")
            i.bi.bi-chevron-down.display-5.text-dark
      #about.col-xs-12.vh-100.part2
        p wenas