@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@font-face {
    font-family: Affirmative;
    src: url(Affirmative.ttf);
}

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    overflow-x: hidden;
}

/* Medium devices (tablets, 768px and bottom) */
@media (max-width: 767px) {
    .position-btn-down { position: relative; }
    .position_top{ top: 40% }
    .h-form { height: auto }
    form {
        position: relative;
        margin-top: 10px;
    }
    span{
        position: relative;
        vertical-align: middle;
        top: 0;
    }
    .support{font-size: 2.5rem}
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .position-btn-down { position: absolute; }
    .position_top{ top: 45%}
    .h-form { height: 100vh }
    form {
        padding-top: 40px;
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    span{
        position: relative;
        vertical-align: middle;
        top: 20%;
    }
    .support{font-size: 2.5rem; margin: 0}
}
form {
    padding-top: 40px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#btn-bot {
    position: absolute;
    display: inline;
    float: right;
    right: 0;
    z-index: 1;
}

.formulario {
    background-image: url("/img/spvga.png"), linear-gradient(0deg, rgba(208,239,255,1) 0%, rgba(255,255,255,1) 66%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35%, cover;
}

.img1{
    position: relative;
    width: 60%;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.sidebar { background: rgb(0,96,162);
    background: linear-gradient(0deg, rgba(0,96,162,1) 0%, rgba(0,112,255,1) 25%); }

span{
    position: relative;
    vertical-align: middle;
    top: 20%;
}
div p{
    text-align: center;
}

.title {
    font-family: Affirmative;
    font-size: 65px;
    margin-bottom: 1px;
}
.subtitle{
    font-family: Roboto;
    font-size: 18px;
}

input{
    opacity: .7;
}

button{
    padding: 10px;
}

.part2{
    background: rgb(0,96,162);
    background: linear-gradient(180deg, rgba(0,96,162,1) 0%, rgba(0,65,110,1) 100%);
}